

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<%= javascript_include_tag '/assets/jquery-te-1.4.0.min' %>
<%= stylesheet_link_tag '/assets/jquery-te-1.4.0.css' %>



<script type="text/javascript">

$(function() {
        $( "#resumen_descripcion" ).jqte({css:"jqte_green"});

});

</script>

<h1>Crear Resumen</h1>

 <% form_for(@resumen, '/resumenes/crear') do |f| %> 
<%= f.label :fecha %> <%= f.text_field :fecha, :value => "AAAA-MM-DD" %> 
<%= f.label :numero_de_clase %> <%= f.text_field :num_clase, :value => "xx" %>
 <%= f.label :ausentes %> <%= f.text_field :ausentes, :value => "Nombre/s" %> 
<%= f.label :descripcion %> 
<%= f.text_area :descripcion, :cols => 2000, :rows =>3, :value => "Ajustar a tamaño conveniente" %>


<h1>Proximo Autor:
	<% if @proximoAlumno != nil then %>
		<b><i><u><%= @proximoAlumno.apellido %>
		<%= @proximoAlumno.nombre %></b></i></u>
	<% else %>
		<%= 'No hay alumnos registrados' %>
	<% end %>
</h1>
 <br/> 
<%= f.submit "Crear", :class => "btn btn-primary" %> 


 <% end %>
